#disable temporary and log files and dirs
log/*
!/log/.htaccess

#disable private local files
*.local.php
env_config_private*.php

#disable composer-managed libraries
/vendor/
#disable composer lock file
/composer.lock

#disable IDE files
/nbproject/private/
/nbproject/
/.idea
